.change{
    color:aquamarine;
    font-size: 100px;
    border: 10px solid black;
    font-family:cursive;
}

.typography {
    color:lightblue;
    font-size: 50px;
}


.main{
    color:coral;
    text-decoration-line: underline;
    text-decoration-color: lightgreen;

}
